#form{
    // width:70%;
    margin-left: 10%;
    margin-right: 10%;
}

.left{
    float: left;
}

.right{
    float: right;
}
.plus1Selection{
    opacity: 0.75;
    font-size: 0.75em;
  }

.completion{
    width: 100%;
}

.reasons{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-flow: row;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
}

.category{
    width: 5%;
}
