#sprintReport{
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
}

#form{
    margin-left: 18px;
}

.plus1Selection{
    opacity: 0.75;
    font-size: 0.75em;
  }

.completion{
    width: 100%;
}

.reasons{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-flow: row;
}

.category{
    width: 5%;
}
